/FlappyBird/.nb-gradle/
Maze/

FlappyBird

FlappyBird/\.gradle/4\.6/fileChanges/last-build\.bin

FlappyBird/\.gradle/4\.6/fileContent/annotation-processors\.bin

FlappyBird/\.gradle/4\.6/fileContent/fileContent\.lock

FlappyBird/\.gradle/4\.6/fileHashes/fileHashes\.bin

FlappyBird/\.gradle/4\.6/fileHashes/fileHashes\.lock

FlappyBird/\.gradle/4\.6/fileHashes/resourceHashesCache\.bin

FlappyBird/\.gradle/4\.6/taskHistory/taskHistory\.bin

FlappyBird/\.gradle/4\.6/taskHistory/taskHistory\.lock

FlappyBird/\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

FlappyBird/\.gradle/buildOutputCleanup/cache\.properties

FlappyBird/\.gradle/buildOutputCleanup/outputFiles\.bin

FlappyBird/\.gradle/vcsWorkingDirs/gc\.properties

FlappyBird/\.nb-gradle/private/cache/android-9d3b58494dfc323f071adc8589e94853

FlappyBird/\.nb-gradle/private/cache/core-ae20cee98ae962b39919c99c9fa7e1c8

FlappyBird/\.nb-gradle/private/cache/desktop-e1fc414efb00462ad25041a21e45e696

FlappyBird/\.nb-gradle/private/cache/FlappyBird-d41d8cd98f00b204e9800998ecf8427e

FlappyBird/\.nb-gradle/profiles/private/aux-config

FlappyBird/core/build/classes/java/main/com/bestgame/flappybird/Bird\.class

FlappyBird/core/build/classes/java/main/com/bestgame/flappybird/FlappyBird\.class

FlappyBird/core/build/classes/java/main/com/bestgame/flappybird/PlayScreen\.class

FlappyBird/core/build/classes/java/main/com/bestgame/flappybird/Tube\.class

FlappyBird/core/build/libs/core-1\.0\.jar

FlappyBird/core/build/tmp/jar/MANIFEST\.MF

FlappyBird/desktop/build/classes/java/main/com/bestgame/flappybird/desktop/DesktopLauncher\.class

FlappyBird/local\.properties
/Maze/.nb-gradle/
/Menus/.nb-gradle/